*{
    margin:0px;
    padding: 0px;
}
body{
    background: url("img.jpg");
    border: 1px solid white;
}
hgroup{
background: black;
height: 80px;
border: 1px solid white;

}
hgroup h1,h4{

color:white;
width: 500px;
margin:0px auto;
}
ul{
position:absolute;
display: block;
top:0px;
}
img{
display: block;
width: 400px;
height: 80px;
margin:0px auto;
}
ul li{
display: inline-block;
color:white;
font-size: 25px;
padding: 5px;
transition: 1s;
}
ul li:hover{
border-bottom: 1px solid white;
color:blue;
background: grey;
}
section{
width: 50%;
margin:0px auto;

height: 1000px;

}

