*{margin: 0px; padding: 0px;}

header.cabecalho{
    background: #000000;
    height: 80px;
    padding: 5px;
}

header.cabecalho h1 {
    color: #ffffff;
    text-align: center;
    text-decoration: underline;
    margin: 0px;
}

header.cabecalho h2 {
    width: 98px;
    float: right;
    color: #ffffff;
    font-size: 15px;
    transition: 3s;
}

h2:hover {
    border-bottom: 1px solid;
}

header.cabecalho img {
    display: block;
    width: 230px;
    margin: 0px auto;
    margin-top: 0px; 

}